
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
  
  }

  li  {
    float: left;
    padding: 14px 16px;
    color: rgb(182, 181, 181);
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li:hover {
    background-color: rgb(207, 204, 204);
  }
  #titreNavbar {
      font-size: 1.2em;
      font-weight: bold;
  }
 .carousel{
     display: flex;
 }
  #firstH2{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #firstH2 h2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  span {
      color: darkgrey;
  }
  #secondSection {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 300px;
  }
  hr {
    width: 95%;
}
#divForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#divForm input, textarea, select{
    border: #333 solid 1px;
    font-size: 20px; 
    margin-bottom: 15px;
    width: 80%;
}

/* media queries */

@media (max-width: 961px) {
    .carousel {
        display: none;
    }
    #secondSection{
        display: none;
    }
    form h2 {
        margin-top: 100px;
    }
    #firstH2 h2 {
        margin-top:100px;
        margin-bottom: 100px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea{
        margin-bottom: 150px;
    }
}
@media (max-width:623px) {

    #firstH2 h2 {
        font-size: 20px;
    }
}

@media (max-width:523px) {

    #firstH2 h2 {
        font-size: 15px;
    }
}
@media (max-width:375px) {

    #firstH2 h2 {
        font-size: 3.5vw;
    }
    li {
        font-size: 3vw;
    }
}